/*----------------------------------------IMPORTS----------------------------------------*/
@import "base/reset";
@import "base/typo";

@import "components/buttons";
@import "components/card";
@import "components/title";

@import "layout/footer";
@import "layout/forms";
@import "layout/grid";
@import "layout/header";
@import "layout/navigation";

@import "utilities/mixins";
@import "utilities/variables";

@import "views/aboutUs";
@import "views/contact";
@import "views/help";
@import "views/home";
@import "views/products";


/*BODY*/

body{
    background-color: $color-body;
    box-sizing: border-box;
    display: flex;
    font-family: $font-main;
    flex-flow: column nowrap;
}

/*MAIN*/

.main{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 250px;
}

/*KEYFRAMES*/

@keyframes fadeIn {
	from {
		filter: opacity(0);
	}
	to{
		filter: opacity(1);
	}
}

/*-------------------------------------MEDIAS QUERIES-------------------------------------*/

@media screen and (min-width: 992px) and (max-width: 1200px){
    .info{
        width: 92vw;
    }

    .sections{
        width: 100vw;
    }
    
    .popular{
        .titleHome{
            font-size: 28px;
        }
    }

    .galery{
        width: 800px;
    }

    .aboutUs{
        .us{
            width: 100vw;
        }
    }

    .contact{
        .article{
            width: 80%;
        }
    }

    .map{
        .article{
            width: 80%;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .info{
        width: 90vw;
    }

    .sections{
        width: 100vw;
    }
    
    .popular{
        .titleHome{
            border-top: 3px solid #E1C760;
            border-bottom: 3px solid #E1C760;
            font-size: 24px;
            font-weight: 500;
        }
    }

    .galery{
        width: 750px;
    }

    .contact{
        .article{
            width: 80%;
        }
    }

    .map{
        .article{
            width: 80%;
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 767px){
    .header{
        flex-flow: column nowrap;

        .nav{
            .menu__desktop{
                li{
                    .submenu{
                        top: 46px;
                    }
                }
            }
        }
    }

    .footer{
        .div{
            flex-flow: column-reverse nowrap;
            align-items: center;
        }
    }

    .info{
        width: 90vw;
        flex-flow: column nowrap;
        align-items: center;
    }

    .sections{
        width: 100vw;
        margin: 25px 0;
        .mantas{
            a{
                p{
                    font-size: 48px;
                    font-weight: 600;
                }
            }
        }
    }
    
    .popular{
        margin: 25px 0;
        .titleHome{
            border-top: 3px solid #E1C760;
            border-bottom: 3px solid #E1C760;
            font-size: 24px;
            font-weight: 500;
            padding: 10px;
            margin-bottom: 50px;
        }
    }
    
    .galery{
        width: 600px;
    }

    .products{
        .filter{
            display: none;
        }
    }

    .help{
        .titleHelp{
            font-size: 32px;
            font-weight: 400;
            margin: 30px 0;
        }
    }

    .contact{
        .titleContact{
            font-size: 32px;
            font-weight: 400;
            margin: 30px 0;
        }

        .article{
            width: 80%;

            .img{
                display: none;
            }

            .form{
                width: 100%;
            }
        }
    }

    .map{
        .titleMap{
            font-size: 32px;
            font-weight: 400;
            margin: 30px 0;
        }

        .article{
            width: 80%;
            .img{
                display: none;
            }

            .size{
                width: 100%;
                height: 550px;
            }
        }
    }
}

@media screen and (max-width: 575px){
	.header{
		flex-flow: column nowrap;

        .name{
            font-size: 28px;
        }

        .nav{
            .menu__desktop{
                display: none;
            }

            .menu__smartphone{
                display: initial;
                padding: 0;

                li{
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 0px 30px 10px;
                    text-transform: uppercase;

                    .submenu{
                        display: none;
                        padding: 0;
                        position: absolute;

                        li{
                            display: block;
                            text-align: center;
                            padding: 10px 0;

                            &:hover{
                                background-color: $color-mostaza;
                                color: $color-body;
                            }
                        }
                    }

                    &:hover{
                        .submenu{
                            background-color: $color-body;
                            color: $color-mostaza;
                            display: block;
                            left: 0;
                            top: 70px;
                            width: 100vw;
                        }
                    }
                }
            }
        }
	}

    .main{
        margin: 0 0 150px;
    }

    .footer{
        .div{
            flex-flow: column-reverse nowrap;
            align-items: center;
            
            .section{
                .p{
                    line-height: 1.5;
                    font-size: 14px;
                }
            }
        }
    }

    .info{
        width: 90vw;
        margin: 30px 0;
        flex-flow: column nowrap;
        align-items: center;
        article{
            width: 250px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
    
            .info__icon{
                margin: 20px 0;
                img{
                    width: 75px;
                }
            }
    
            .info__text{
                width: 100%;
                margin: 20px 0;
                p{
                    text-align: center;
                    color: $color-gray;
                    font-size: 14px;
                }
            }
        }
    }

    .sections{
        width: 100vw;
        margin: 25px 0;
        .mantas{
            a{
                p{
                    font-size: 32px;
                    font-weight: 400;
                }
            }
        }
    }

    .popular{
        .titleHome{
            border-top: 2px solid #E1C760;
            border-bottom: 2px solid #E1C760;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1px;
            padding: 5px;
            margin-bottom: 50px;
        }
        margin: 25px 0;
    }
    
    .galery{
        width: 300px;
    }

    .products{
        .filter{
            display: none;
        }

        .items{
            .titleProducts{
                border-top: 1px solid $color-mostaza;
                border-bottom: 1px solid $color-mostaza;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 1px;
                margin: 20px 0 10px;
            }
        }
    }

    .aboutUs{
        margin: 0;
        .us{
            width: 100%;
            .description{
                h3{
                    font-size: 32px;
                    margin-bottom: 20px;
                }

                p{
                    font-size: 14px;
                }
            }
        }

        .phrase{
            margin: 75px 10px;
            span{
                font-size: 32px;
                font-weight: 300;
            }
        }
    }

    .help{
        .titleHelp{
            font-size: 20px;
            font-weight: 300;
            margin: 20px 0;
        }
        
        .questions{
            margin: 0 1%;
            .box{
                margin: 0 1%;
                .question{
                    margin: 10px 5px
                }
                .answer{
                    margin: 10px 5px;
                }
            }
        }
    }

    .contact{
        .titleContact{
            font-size: 20px;
            font-weight: 300;
            margin: 20px 0;
        }

        .article{
            width: 80%;

            .img{
                display: none;
            }

            .form{
                width: 100%;
            }
        }
    }

    .map{
        .titleMap{
            font-size: 20px;
            font-weight: 300;
            margin: 20px 0;
        }

        .article{
            width: 80%;

            .img{
                display: none;
            }

            .size{
                width: 100%;
                height: 300px;
            }
        }
    }
}