$color-mostaza: #E1C760;
$color-light-mostaza: #E7D281;
$color-body: #FDF9E6;
$color-white: #FFFFFF;
$color-black: #161408;
$color-light-black: #252525;
$color-gray: #9E9A8A;
$color-light-gray: #E3DECC;