.products{
    align-items: stretch;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	animation: fadeIn 1s ease-in 0.1s none normal;
	animation-fill-mode: backwards;
    margin-bottom: 250px;

    .filter{
        align-items: center;
        background-color: $color-white;
        border-radius: 4px;
        border: 2px solid $color-light-gray;
        color: $color-gray;
        display: flex;
        flex-flow: column nowrap;
        margin: 160px 10px 80px 10px;
        padding: 0 20px;

        .titleFilter{
            align-self: flex-start;
            font-size: 18px;
            font-weight: 700;
            text-align: left;
            &::selection{
                background-color: $color-gray;
                color: $color-white;
            }
        }

        .list{
            display: inline-block;
            margin: 0;
            padding: 0;

            li{
                font-size: 16px;
                font-weight: 300;
                margin: 10px 30px;
                transition: scale, 0.3s;
                &:hover{
                    transform: scale(1.05);
                    color: $color-black;
                }

                a{
                    &::selection{
                        @include color-inverter($color-gray, $color-white);
                    }
                }
            }
        }
    }

    .items{
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;

        .titleProducts{
            @extend .title;
            border-width: 3px;
            font-weight: 700;
            font-size: 24px;
        }

        .article{
            @extend .galery;
        }

        .pages{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            width: 75px;
            margin-top: 50px;
            color: $color-gray;
            @include disable-select();
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 24px;
                }
            }
            span{
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}